/* TODO : Make separate files for internet and intranet */


/*******************************
          INTERNET CSS
*******************************/

/* PALETTE */

.maroon7{
  background-color: #ECDFBD !important;
}

.darkblue7{
  background-color: #20457C !important;
}

.black7{
  background-color: #3B3A35 !important;
  color: white;
}

.red7{
  background-color: #FB6648 !important;
}

.purple7{
  background-color: #5E3448 !important;
}

/* GENERAL */

.container-fluid{
  /*TODO JAVASCRIPT POSITION FOOTER */
  min-height: 80vh;
}

.section{
  min-height: 50vh;
}

.empty-li{
  width: 150px;
  height:1px;
}

.main{
  min-height: 80vh;
}

/* MODAL */

.search-background{
  display:none;
  background-color:black;
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  opacity: 0.5;
}

/* SLIDER */
.slider .indicators .indicator-item {
  background-color: #666666;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.slider .indicators .indicator-item.active {
  background-color: #ffffff;
}

.slider {
  height:400px !important;
  width: 900px;
  margin: 0 auto;
}

.slider .indicators {
  bottom: 20px;
  z-index: 100;
  /* text-align: left; */
}

/* TOPBAR */

.dropdown-content li > a, .dropdown-content li > span {
  color: #FB6648 !important;
}

.search-input input[type=text]:focus:not([readonly]){
  border-bottom: 1px solid #FB6648 !important;
 -webkit-box-shadow: 0 1px 0 0 #FB6648 !important;
 -moz-box-shadow: 0 1px 0 0 #FB6648 !important;
 box-shadow: 0 1px 0 0 #FB6648 !important;
}

.input-field .prefix.active{
  color: #FB6648;
}

.logo-wrapper{
  display:inline-block;
  width: 240px;
  max-height: 50px;
}

.logo{
  margin:10px;
}

.logo:hover{
  background:transparent;
}

.logo img{
  height: 62px;
}

#search:focus::-webkit-input-placeholder { color:#333;}
#search:focus:-moz-placeholder { color:#333; } /* FF 4-18 */
#search:focus::-moz-placeholder { color:#333; } /* FF 19+ */
#search:focus:-ms-input-placeholder { color:#333; } /* IE 10+ */

#search:focus{
  width:200px;
}

#search{
  height:25px;
  border-radius: 18px;
  background-color: white;
  padding:5px;
}

#search{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
  margin: 0px;
}

#search-panel {
  z-index: 1001;
  height:80px;
  width:100%;
  position:absolute;
  top:0px;
  left:0px;
  display:none;
  color: white;
}

#search-panel label{
  color:white;
}

.close{
  width:40;
  height:40;
  color:white;
  text-align: right;
  cursor: pointer;
  margin-top: 8px;
}

.btn-close{
    margin-right:15px;
    color:#212121;
}

.search-field i{
  height:0px;
}

.search-input{
  margin:25px !important;
}

.search-input label{
  color: #212121 !important;
}

.search-container{
  max-height:100%;
  color: #212121;
}

/* label color */
.search-field label {
  color: #000;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #000;
}



.nav-icon{
  margin-left : 13px;
}

.nav-top{
  height:40px;
  line-height: 40px;
  max-height: 40px;
  box-shadow: none;
}

.row{
  margin:0px;
}

.padded-container{
  padding:15px;
}

/* FOOTER */

footer.page-footer{
  margin-top:0px;
}

/* SIDEBAR */

.unmarged{
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  margin:0px !important;
  padding:0px !important;
  box-shadow: none;
}

.sidebar-links li a{
  color: #FB6648;
  margin-left: 35px;
}

.submenu{
  font-size:14px;
  margin-left: 14px;
  min-height: 2.5rem;
  line-height: 2.5rem;
}

.sidebar{
  margin:0px;
  padding: 0px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}

.sidebar .collapsible-body{
  border-bottom: none;
}

.sidebarmenu{
  /* TODO */
  min-height: 80vh;
}

/*******************************
          INTRANET CSS
*******************************/
