<template name="layout1">
  {{> Template.dynamic template=nav}}
  <div class="container">
    {{> Template.dynamic template=main}}
  </div>
</template>

<template name="navigation">
  <nav class="nav-wrapper">
    <a href="#" class="brand-logo">UA Meteor</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="{{isActiveRoute name='internetHome'}}"><a href="{{pathFor 'internetHome'}}">Index</a></li>
      {{#if currentUser}}
      <li class="{{isActiveRoute name='signOut'}}"><a href="{{pathFor 'signOut'}}">Se déconnecter</a></li>
      {{/if}}
    </ul>
  </nav>
</template>

<template name="authContent">
  <div class="row">
    <div class="col s6 offset-s3">
      {{> atForm}}
    </div>
  </div>
</template>
