<template name="internetFooter">
          <footer class="page-footer darkblue7">
           <div class="container">
             <div class="row">
               <div class="col l6 s12">
                 <p class="grey-text text-lighten-4"><i> © Ecole ipssi 2016 </i></p>
               </div>
             </div>
           </div>
           <div class="footer-copyright black7">
             <div class="container">
             <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
             </div>
           </div>
         </footer>
</template>
