<template name="internetNavigation">
  <nav class="nav-wrapper blue">
    <a href="#" class="brand-logo"><span class = "fa fa-thumbs-up">Ipssi-Lyon</span></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="">Recherche</a></li>
      <li><a href="">Mon Ipssi</a></li>
      <li><a href="">Le groupe</a></li>
      <li><a href="">L'activité</a></li>
      <li><a href="">Nous rejoindre</a></li>
      <li><a href="">Contact</a></li>
      {{#unless currentUser}}
        <li><a href="{{pathFor 'signIn'}}">Connexion</a></li>
      {{else}}
        <li><a href="{{pathFor 'signOut'}}">Deconnexion</a></li>
      {{/unless}}
    </ul>
  </nav>
</template>
