<template name="internetNavigation">
      <nav class="nav-top nav-wrapper blue lighten-2">
        <div class="container">
        <a href="#" class="brand-logo"><img class="logo" src="img/logo_ipssi.png"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="">Recherche</a></li>
          <li><a href="">Mon Ipssi</a></li>
          <li><a class="dropdown-button" href="#!" data-activates="groupDropdown">Le groupe</a></li>
          <li><a class="dropdown-button" href="#!" data-activates="activityDropdown">L'activité</a></li>
          <li><a class="dropdown-button" href="#!" data-activates="joinUsDropdown">Nous rejoindre</a></li>
          <li><a class="dropdown-button" href="#!" data-activates="collaboDropdown">Espace collaborateur</a></li>
          <li><a class="dropdown-button" href="#!" data-activates="groupDropdown">Contact</a></li>
          {{#unless currentUser}}
            <li><a href="{{pathFor 'signIn'}}">Connexion</a></li>
          {{else}}
            <li><a href="{{pathFor 'signOut'}}">Deconnexion</a></li>
          {{/unless}}
        </ul>
        </div>
      </nav>

      <ul id="groupDropdown" class="dropdown-content">
        <li><a href="#!">Présentation</a></li>
        <li class="divider"></li>
        <li><a href="#!">Chiffre clés</a></li>
        <li class="divider"></li>
        <li><a href="#!">Notre expertise</a></li>
        <li class="divider"></li>
        <li><a href="#!">Les valeurs du groupe</a></li>
      </ul>

      <ul id="activityDropdown" class="dropdown-content">
        <li><a href="#!">Nos métiers</a></li>
        <li class="divider"></li>
        <li><a href="#!">Nos secteurs d'activités</a></li>
        <li class="divider"></li>
        <li><a href="#!">Ils nous font confiance</a></li>
      </ul>

      <ul id="joinUsDropdown" class="dropdown-content">
        <li><a href="#!">Postes à pourvoir</a></li>
        <li class="divider"></li>
        <li><a href="#!">Postuler</a></li>
      </ul>

      <ul id="collaboDropdown" class="dropdown-content">
        <li><a href="#!">Accueil</a></li>
      </ul>

      <ul id="contactDropdown" class="dropdown-content">
        <li><a href="#!">Formulaire</a></li>
      </ul>

</template>
