<template name="internetPage">

  <div class="container-fluid">
    <div class="row">
    <div class="col s2 unmarged">
      <div class="sidebarmenu">
        <ul class="collapsible sidebar" data-collapsible="expandable">
          {{#each menu in menus}}
            {{#if equal menu.name currentMenu}}
              <li>
                <div class="collapsible-header">{{menu.label}}</div>
                <div class="collapsible-body">
                  {{#if menu.children.length}}
                    <ul class="collapsible unmarged" data-collapsible="expandable">
                      {{#each child in menu.children}}
                        <li>
                          <div class="collapsible-header submenu">{{child.label}}</div>
                          <div class="collapsible-body">
                              {{#if child.grandChildren.length}}
                                <ul class="sidebar-links">
                                  {{#each grandChild in child.grandChildren}}
                                  <li>
                                    <a href="{{pathFor 'pages'}}/{{grandChild.name}}">{{grandChild.label}}</a>
                                  </li>
                                  {{/each}}
                                </ul>
                              {{/if}}
                            </div>
                        </li>
                      {{/each}}
                    </ul>
                  {{/if}}
                </div>
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="col s9">
      {{{content}}}
    </div>
  </div>
</div>
</template>
